*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana;
  
}

body {
  background-color: #DDD ;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh ;
  

}

.c-player {
  display: block;
  background-color: #d6c5e6;
  margin: 0px auto;
  padding: 50px;
  width: 350px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0,0,0,0.8), inset 6px 6px 12px rgba(22, 21, 21, 0.4);
}

.c-player > h4 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;

}

.c-player >p {
  color: rgb(8, 8, 8);
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.c-player--detais .details-img {
  position:relative;
  width: fit-content;
  margin: 50px auto;
}

.c-player--details .details-img img {
  display: block;
  margin:10px auto;
  width: 100%;
  max-width:250px;
  border-radius:130px;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.8),  -6px -6px 12px rgba(255,255,255, 0.4);
}

.c-player--details .details-title {
  color: rgb(53, 3, 59);
  font-size: 28px;
 text-align: center;
 margin-bottom: 10px;

}

.c-player--details .details-artist {
  color: rgb(114, 13, 126);
  font-size:20px;
  text-align: center;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow:  5px 5px 10px rgba(0,0,0,0.8),
   -4px -4px 10px rgba(255,255,255, 0.4),
  inset -4px -4px 10px rgba(37, 0, 0, 0.4),
  inset -4px -4px 10px rgba(255,255,255, 0.4);
  border: none;
  outline:  none;
  background-color: rgb(194, 106, 253);
  color: black;
  font-size: 24px;
  cursor: pointer;

}

.c-player--controls .skip-btn {
background: none;
border: none;
outline: none;
cursor: pointer;
color: rgb(0, 0, 0);
font-style: 18px;
}